<div id="about-page-container">
  <span class="back-home-arrow"><%=link_to fa_icon("arrow-left"), "/"%></span>
  <div id="the-bakery-container">
    <h2>The Bakery</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elementum ex et elit maximus lobortis. Curabitur dictum  consequat justo eget condimentum. Sed vestibulum luctus felis, id tempor felis interdum quis. Suspendisse laoreet ligula felis,  laoreet rhoncus odio condimentum sed. Aenean vel magna et eros efficitur tempor. Integer turpis leo, pharetra id quam a,   consequat convallis diam. Sed porttitor ante turpis. Nunc tempor mattis urna, quis mattis risus vehicula non. Cras lacinia  imperdiet libero sit amet gravida. Fusce vitae vestibulum leo, eu faucibus erat. Nulla venenatis ullamcorper justo, ac porttitor   ex convallis et. Donec mattis a magna vitae facilisis. Mauris nisi risus, finibus in tincidunt sed, scelerisque non tellus. Sed   vel finibus dolor. Quisque auctor mi et augue malesuada, at eleifend ante sollicitudin. In velit risus, scelerisque id  condimentum id, interdum sit amet turpis.
  
  Sed bibendum tincidunt felis, id maximus purus egestas auctor. Mauris eu augue vel est hendrerit vehicula at in velit. Morbi  accumsan odio eget suscipit ullamcorper. Curabitur malesuada at dui sed lobortis. Class aptent taciti sociosqu ad litora torquent  per conubia nostra, per inceptos himenaeos. Duis volutpat mattis rutrum. Suspendisse tempor nibh eu risus luctus facilisis.</p>
  </div>
  <div id="ampersand">&</div>
  <div id="the-baker-container">
    <hr>
    <h2>The Baker</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elementum ex et elit maximus lobortis. Curabitur dictum  consequat justo eget condimentum. Sed vestibulum luctus felis, id tempor felis interdum quis. Suspendisse laoreet ligula felis,  laoreet rhoncus odio condimentum sed. Aenean vel magna et eros efficitur tempor. Integer turpis leo, pharetra id quam a,   consequat convallis diam. Sed porttitor ante turpis. Nunc tempor mattis urna, quis mattis risus vehicula non. Cras lacinia  imperdiet libero sit amet gravida. Fusce vitae vestibulum leo, eu faucibus erat. Nulla venenatis ullamcorper justo, ac porttitor   ex convallis et. Donec mattis a magna vitae facilisis. Mauris nisi risus, finibus in tincidunt sed, scelerisque non tellus. Sed   vel finibus dolor. Quisque auctor mi et augue malesuada, at eleifend ante sollicitudin. In velit risus, scelerisque id  condimentum id, interdum sit amet turpis.
  
  Sed bibendum tincidunt felis, id maximus purus egestas auctor. Mauris eu augue vel est hendrerit vehicula at in velit. Morbi  accumsan odio eget suscipit ullamcorper. Curabitur malesuada at dui sed lobortis. Class aptent taciti sociosqu ad litora torquent  per conubia nostra, per inceptos himenaeos. Duis volutpat mattis rutrum. Suspendisse tempor nibh eu risus luctus facilisis.</p>
  </div>
</div>