.nav-btn {
  color: #fff;
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  padding: 10px 50px 10px 50px;
  border-radius: 10px;
  background-color: #aa6982;    
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
  margin: 10px;
  cursor: pointer;

}

.nav-btn:hover{
  opacity: .7;
}

#home-index-nav-container{
  position: relative;
  display: flex;
  flex-direction: column;
  top: -5%;
  white-space: nowrap;
  margin: 0 auto;
}

#home-index-nav-main-container{
  top: 30%;
  padding: 40px 40px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.nav-btn a {
  text-decoration: none;
  color: #fff; 
}

.nav-btn a:visited {
  text-decoration: none;
  color: #fff;
}

.nav-btn a:hover {
  text-decoration: none;
  color: #fff;
}

#social-media-links-container{
  position: absolute;
  text-align: center;
  font-size: 4em;
  left: 43%;
  top: 100%;
}

#social-media-links-container i {
  margin: 10px;
}

#social-media-links-container a {
  text-decoration: none;
  color: black;
}

#social-media-links-container a:visted {
  text-decoration: none;
  color: black;
}

#facebook-icon:hover {
  text-decoration: none;
  color: #3b5998;
}

#social-media-links-container div {
  margin: 0 auto;
}

#instagram-icon i:hover {
  
  background:         linear-gradient( #400080, transparent), -webkit-linear-gradient( 
   200deg, #d047d1, #ff0000,    #ffff00); /* Standard syntax; must be last */
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}



#social-media-links i{
  margin: 10px 10px;
}

#bullet-headings-container{
  display: flex;
  justify-content: space-around;
}

#bullet-headings-container .fa-circle {
  font-size: .5em;
}

#bullet-headings-container .bullet-heading{
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  letter-spacing: .3em
}

#bullet-headings-container span {
  align-self: center;
}

#home-index-nav-container #home-index-city {
  font-family: 'Amatic SC', cursive;
  font-size: .75em;
}
